* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-fluid {
    border: 1px solid black;
}
/* STILE E MODIFICHE PER LA SIDEBAR DI SINISTRA */

.sidebar-left {
    border: 1px solid rgb(29, 0, 160);
    background-color: rgb(0, 0, 0);
    padding: 5px 0 0 30px;
    color: rgb(100, 100, 100);
    font-size: larger;
}

.logo-spotify {
    width: 90%;
    height: 70px;
    background-image: url("../buildweek-3/assets/Spotify-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.list-group-items {
    list-style: none;
    padding-bottom: 12px;
}

.playlist {
    border-bottom: 1px solid grey;
}

.list-group-items span {
    padding-left: 5px;
}

/* INSERITO PER PROVA */
.sidebar-right {
    background-color: rgb(0, 0, 0);
    border: rgb(0, 0, 0);
    color: rgb(100, 100, 100);
}

.container {
    background-color: rgb(23, 23, 23);
    border: 1px solid rgb(23, 23, 23);
}